.container {
  width: 100%;
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

.row{
border: 1px black dotted;
padding: 10px;
margin: 20px;
text-align: left;
min-height: 1px;
box-sizing: border-box;
}

.inner{
  text-align: center;
}

.col-1 {
border: 1px black solid;
display: inline-block;
/*float:left;*/
text-align: center;
height: 40px;
margin: 2px;
width: 7.4%;
box-sizing: border-box;

}

.col-4 {
border: 1px black solid;
text-align: center;
height: 150px;
width: 33%;
float:left;
margin-left: 1em;
}

.col-6 {
border: 1px black solid;
text-align: center;
height: 150px;
width: 48%;
float:left;
margin-left: 1em;
margin-bottom: 1em;
box-sizing: border-box;


}

.col-8 {
border: 1px black solid;
text-align: center;
height: 300px;
width: 63%;
float:left;
margin-left: 1em;
margin-bottom: 1em

}
